[2014-12-01 21:48] adamtootle opened #2 "Any way to get the beginning of the week easily?"
If it's not currently possible, maybe we can add something like

[code]

Or possibly

[code]

I just had a couple of ideas on how that may look, but wanted to ask if there's was already a way first.

[2014-12-01 22:06] #2 closed, assigned to nobody

[2015-02-28 17:27] sbeckeriv opened #3 "libtool argument error"
Sorry I am very new to swift/xcode. I installed Timepiece via cocoapods. I went to build without changing any code or anything in xcode and I get this error.

[code]

Its my first app. I am building a swift iphone app if that matters.  Is there some tool a new system would need to configure or install? Is this a cocoapod issue? I cant seem to find any configs or code on my system about it. I found

[2015-03-01 03:43] naoty commented on #3
@sbeckeriv It seems that this is caused by missing some tools, not by CocoaPods and Timepiece. You should make sure that something is missing or the versions of tools is wrong.

[2015-03-01 05:43] naoty commented on #3
@sbeckeriv I see. You should make sure that the version of CocoaPods is `0.36.0.*`, which supports Swift.

[2015-03-01 05:43] #3 closed

[2015-03-04 17:45] sbeckeriv commented on #3
thanks. I upgraded cocoapods and now i get more errors. I think i will just copy and past the code until cocoapods are working.

Is there anyway to force a version of cocoapods from your podfile?

[2015-03-04 23:46] naoty commented on #3
You can do with Gemfile, not Podfile.

[2015-04-09 22:25] chrux opened #4 "Warnings with deprecations in Swift 1.2 with new released XCode 6.3"
I have like 16 warnings with deprecations. Any plan to clean this?

[2015-04-10 02:39] naoty commented on #4
Fixed at #5 .

[2015-04-10 02:39] #4 closed

[2015-05-03 13:47] Koshub opened #8 "Date comparing"
Thanks for perfect abstraction like now + 2.days. It will be fantastic if you add dates comparing!

[2015-05-03 14:34] naoty commented on #8
@Koshub I also want to compare dates. I try to add it!

[2015-05-03 16:27] Koshub commented on #8
@naoty nice, looking forward to it :+1:

[2015-05-03 16:54] naoty commented on #8
@Koshub I have added it at 9ed880f0350f15a567d04f64b8c318a106127787 and released as `0.3.0`! Please try to compare dates.

[2015-05-03 16:54] #8 closed

[2015-05-04 09:59] Koshub commented on #8
@naoty  Thanks. Although there are not all operators (like <,>,>=,<=,==,!=) this is better than nothing. Thanks again

[2015-05-04 10:32] naoty commented on #8
@Koshub All operators are supported because `Equatable` protocol, which requires `<`,  and `Comparable` protocol, which requires `==`, is implemented. Look at [tests](https://github.com/naoty/Timepiece/blob/master/Tests/NSDate+TimepieceTests.swift#L43)!

[2015-05-04 10:37] Koshub commented on #8
@naoty Sorry. I didn't know about that.

[2015-05-04 10:50] naoty commented on #8
@Koshub Thank you for the issue!

[2015-05-16 13:50] Koshub opened #11 "Can't add Int.max.seconds to date"
Probably this is `dateByAddingUnit` problem

[2015-05-16 14:29] naoty commented on #11
@Koshub Please let me know more information. I tried `(now + Int.max.seconds).stringFromFormat("yyyy-MM-dd")` and the result was `2558-05-16`.

[2015-05-16 14:47] Koshub commented on #11
@naoty  Please, check out the result in this example:
[code]

[2015-05-16 14:59] naoty commented on #11
@Koshub Thank you reporting! I also can reproduce this problem. If it is solved, I let you know that.

[2015-05-16 15:20] naoty commented on #11
@Koshub Do you want `NSDate.distantFuture()`?, don't you? Maybe, `Int.max.seconds.later` doesn't work because it is greater than the max of NSDate value.

[2015-05-16 16:04] Koshub commented on #11
@naoty  Well, I don't know if there should be `NSDate.distantFuture()`. Probably, yes. It's up to you to decide. I think it shouldn't be the same date and `NSDate.distantFuture()` is a good choice.

[2015-05-16 16:16] naoty commented on #11
I think this library don't need to provide the alternative to `NSDate.distantFuture()`. @Koshub, would you use `NSDate.distantFuture()` or `NSDate.distantPast()`?

[2015-05-16 16:26] Koshub commented on #11
@naoty  Yes, I will. Although using `NSDate.distantFuture()` or `NSDate.distantPast()` is a good choice, it is not the best way to solve this problem. But I think we can use them because of the `NSDate` type restrictions.

[2015-05-16 16:27] #11 closed

[2015-05-21 21:26] willhains opened #14 "Just an idea: Parallel APIs for non-English languages"
I find this style of natural-language API exciting, when it is executed well, as it is in this case. Great stuff!

While browsing the API intro, I had random thought: while this API is very natural to English-language speakers — and it seems aimed directly at "sounding" like natural English — wouldn't it make equal sense to add similar APIs for other human languages?

For example:

[code]

I chose

[2015-05-21 22:24] kazmasaurus commented on #14
:heart: this idea so much.

It's kind of subtle how much of a privilege being a native english speaker can be when it comes to programming, but I think it's a huge deal considering how much of the tooling and documentation is only in english.

[2015-05-22 02:25] naoty commented on #14
@willhains I agree with you. But, I want to provide these features as another library because these are a kind of localization features, not the calculation of dates.

[2015-05-22 03:14] willhains commented on #14
@naoty That makes sense.

[2015-05-22 03:17] willhains commented on #14
@kazmasaurus Not sure why you edited your comment, because it was spot-on! Thanks very much for the kind words.

[2015-05-22 13:33] aarondaub opened #15 "Syntax change: rename "ago(from: NSDate)" to "before(date: NSDate)" and "later(from: NSDate)" to "after(date: NSDate)""
These read nicer IMHO, thoughts?

[2015-05-22 13:56] naoty commented on #15
See https://github.com/naoty/Timepiece/pull/16.

[2015-05-22 13:56] #15 closed

[2015-05-22 20:02] sstigler opened #17 "NSCalendarUnit's interval property makes some invalid assumptions about dates."
http://infiniteundo.com/post/25326999628/falsehoods-programmers-believe-about-time breaks this down in more detail, but to sum it up:
* Months don't always have 30 days.
* Years don't always have the same number of days.

etc.

[2015-05-23 03:09] naoty commented on #17
@sstigler As you said, this library has incorrect assumptions. This problem was discussed at https://github.com/naoty/Timepiece/pull/9. I think we need to return constant values because `Duration` doesn't have any context about current time. Do you have any better idea?

[2015-05-23 08:50] naoty commented on #14
@willhains I don't have enough time to develop these features as another library. If you want them, please develop yourself.

[2015-05-23 08:50] #14 closed

[2015-05-24 04:28] naoty commented on #17
@sstigler If you have any better idea, please send a pull request! I'm looking forward to it. I close this issue.

[2015-05-24 05:13] sstigler commented on #17
@naoty I might do that eventually. I probably don't completely understand the purpose of the `Duration` class, but the gist of what I'd recommend is to represent the `Int`s as `NSDateComponents` instead of `Duration`s.

[2015-06-05 13:59] danielmartinprieto opened #18 "Mac OS X support."
Hi! Could you add Carthage support for Mac OS X? I don't know how to do it, but if you explain to me I can try and do a pull request.

Thanks.

[2015-06-05 14:38] naoty commented on #18
@danielmartinprieto Hi! Have you read [this page](https://github.com/Carthage/Carthage#if-youre-building-for-os-x) yet? This library supports Carthage. If you follow the page, you can integrate this library into your OS X project. If not works, please let me know.

[2015-06-05 14:54] danielmartinprieto commented on #18
Yes, I've added it to my project, but it didn't generate the Mac OS X build, only the iOS one. So I guess something is missing in the configuration of the project.

Thanks.

[2015-06-08 09:27] danielmartinprieto commented on #18
Hi, @naoty. Did you get my message?

Thanks.

[2015-06-08 09:35] naoty commented on #18
@danielmartinprieto Sorry for the delay. I will try to reproduce the problem. But, I have no experience to develop an OS X application and so I really appreciate you if you send a pull request to solve it.

[2015-06-08 09:48] danielmartinprieto commented on #18
@naoty OK, will try to do it in some hours.

[2015-06-09 13:10] naoty commented on #18
@danielmartinprieto Would you try to use `osx-carthage-support` branch? This branch works well at my sample OSX application.

[2015-06-09 13:45] danielmartinprieto commented on #18
@naoty it seems that it works.

[2015-06-09 15:11] naoty commented on #18
@danielmartinprieto Thanks! I will merge this branch and close this issue and your PR.

[2015-06-09 15:11] #18 closed

[2015-06-17 07:58] maelp commented on #17
I think the Duration class might be misleading indeed for those reasons, and should probably be represented as a stack of consecutive NSDateComponents if you want to add them, because "date + (1.month + 1.day)" cannot be coerced to "date + (31.day)", so you need to keep the internal representation as a stack if you want to be able to make correct computations afterwards

Otherwise I'd suggest not

[2015-06-17 13:45] naoty commented on #17
@maelp Thank you for suggestion! I agree with you.

While the addition/subtraction of `Duration` with `NSDate` is possible, the exact conversion of `Duration` into `NSTimeInterval` is impossible because `Duration` doesn't know current datetime. Current implementation is useful but misleading.

I think the correctness of calculating dates is most important for date calculation libraries. So, I agre

[2015-06-29 13:43] Prince2k3 opened #24 "Timezones"
First off. I like the progress of this library. It's very elegant. So to my issue....I think this is more a feature request then an issue. I was thinking would be very nice to be able to set / get Timezones. What do you think?

[2015-06-29 14:24] naoty commented on #24
@Prince2k3 Thanks! Now, this library uses `NSCalendar`'s timezone, which the user specified at Settings. When do you want to set/get timezone?

[2015-06-29 14:39] Prince2k3 commented on #24
So I have a scenario where I would need to check the date at a certain timezone because a server only acts within it. Like for instance checking to see if a transaction is valid before a certain time in CST.

[2015-06-29 14:55] naoty commented on #24
Oh, I see. For example, is it favorable for you to set/get timezone like below?

[code]

[2015-06-29 15:01] Prince2k3 commented on #24
Yes ...that would be very nice setup!

[2015-06-29 15:02] naoty commented on #24
OK! I will try to implement above feature!

[2015-06-29 15:04] Prince2k3 commented on #24
Sweet! Thanks!

[2015-07-04 12:44] naoty commented on #24
@Prince2k3, I have implemented features to set/get the time zone. Please check the playground at https://github.com/naoty/Timepiece/commit/24a117399b7c636ff6db9dace45952b89b4b02f2! If there is no problem, I will merge this and release as the next version.

[2015-07-04 15:27] naoty commented on #24
I noticed that the calculation and comparison of dates with different time zones are not implemented. After they are implemented, I will release this feature.

[2015-07-04 16:24] Prince2k3 commented on #24
Hey tested the the timezone feature and it works. Yeah if there is any way to sort the length of this code
[code]

[2015-07-04 19:20] Prince2k3 opened #25 "What do you think?"
What if Timepiece had a between method that took a beginDate and endDate and returned true if the date was between them?

like so ...
[code]

What do you think?

[2015-07-04 19:40] Prince2k3 commented on #25
seems the inequality doesn't work right so I'm rewriting it as so ...
[code]

[2015-07-05 02:52] naoty commented on #25
You can write like this using `IntervalType`'s `contains`.

[code]

[2015-07-05 03:00] Prince2k3 commented on #25
Nice! That is a better example.

[2015-07-05 03:00] #25 closed

[2015-07-05 03:02] Prince2k3 commented on #24
What did you have in mind for calculation and comparison? So far I seem to do that just fine if I make sure that the timezones are the same.

[2015-07-05 11:56] naoty commented on #24
For example, I think `now == now.change(timeZone: cst)` should be `true`. But, actually the result is `false` in current implementation. When we calculate or compare dates with different time zones, we should change the time zone of either date into one of another date.

[2015-07-05 14:25] naoty commented on #24
I added tests for above cases, which are all passed without any additional implementations. It looks fine. Can I merge this branch?

[2015-07-05 15:41] Prince2k3 commented on #24
Yes! ... I think it looks good as well!

[2015-07-06 05:57] naoty commented on #24
@Prince2k3 Thanks!

[2015-07-06 05:57] #24 closed

[2015-07-10 08:06] remzr7 opened #27 "Swift 2.0 branch: Use of unowned self in Duration.swift causes seg fault"

[2015-07-21 22:53] joshuawright11 opened #29 "Documentation"
Absolutely love the library but sometimes unsure on how certain methods work, and it seems like a few of things don't seem to have clear/any documentation. Maybe write some more? I'm happy to help.

[2015-07-22 01:55] naoty commented on #29
@joshuawright11 Thank you for using this library! Which methods do you want clear documentations for? I will try to write clear documentations for public methods and properties.

[2015-07-22 15:13] naoty commented on #17
@maelp I decided to deprecate these computations. These will be obsoleted in `0.5.0`. Would you check https://github.com/naoty/Timepiece/pull/30?

[2015-07-22 16:55] maelp commented on #17
Indeed I feel it is a better solution, just allow people to do common things that are unambiguous, like adding a set number of days / hours / minutes / seconds to a date using NSCalendar to account for eg a day with an hour less because of DST, but not adding the durations together

[2015-07-23 02:36] naoty commented on #17
@maelp Thanks! I will merge this pull request and close this issue.

[2015-07-23 02:39] #17 closed

[2015-07-25 11:14] norio-nomura opened #31 "NSDate.beginningOfHour is not compatible with Daylight Saving Time."
Sample code is following:

[code]

result is following:

[code]

On above result, "2015-04-05 02:00:00" appear twice on +1030 and +0930 before transition.
`beginningOfHour` should return +1030 value when receiver was +1030

[2015-07-25 12:38] naoty commented on #31
@norio-nomura Thank you for reporting! Do you mean that a NSDate object which has own time zone is not compatible with daylight-saving time?

[2015-07-25 13:04] norio-nomura commented on #31
Sorry, above is not correct.
Maybe result should be as following:
[code]
I don't know about Timepiece's NSDate extension for supporting timezone.
But, following code gets above result.
[code]

[2015-07-25 13:20] naoty commented on #31
@norio-nomura What problem does your code demonstrate?

[2015-07-25 13:52] norio-nomura commented on #31
Sorry, my code is too complex for describing issue.
I make it simple.
[code]
step by 1 hour | beginningOfHour | NG?
-------------- | --------------- | ---
2015-04-05 00:00:00 +1030|2015-04-05 00:00:00 +1030|
2015-04-05 01:00:00 +1030|2015-04-05 01:00:00 +1030|
2015-04-05 02:00:00 +1030|2015-04-05 02:00:00 +1030|
2015-04-05 02:00:00 +0930|2015-04-05 02:00:00 +1030|<- NG
2015-04-05 03:00:00 +0930|20

[2015-07-25 14:03] naoty commented on #31
@norio-nomura Thanks! I will try to write tests and fix the problem.

[2015-08-12 13:12] Prince2k3 opened #32 "Swift 2.0 branch: deployment target"
I think the deployment target set on the branch is iOS 9 only. It should at least be iOS 8. I have no disagreement with leaving out iOS 7.

[2015-09-10 05:49] RezaSafari123 opened #34 "Swift 2.0: beginning or endOfWeek is missing"
beginning or end of week method is missing in the NSDate+Timepiece extension

[2015-09-20 18:40] Antoine4011 opened #36 "Support for tvOS"
With the new Apple TV, the support for tvOS would be great. :)

[2015-09-22 02:31] naoty commented on #36
Thank you! But, I'm have not enough time to

[2015-09-22 02:33] naoty commented on #36
Thank you! But, I have not enough time to research tvOS and implement features for it. Welcome to your Pull request!

[2015-09-22 02:33] #36 closed

[2015-09-22 02:34] #29 closed

[2015-09-27 16:23] nickygerritsen commented on #36
I will create a PR for this, but it will be based of Swift 2.0 of course.

Do you have any plans to soon merge this into master? As swift 2.0 is now released.

[2015-09-28 01:45] naoty commented on #36
@nickygerritsen Sorry for the delay! I'll try merge `swift-2` branch into `master`. :bow:

[2015-09-28 02:14] Jamonek commented on #36
👍🏽

[2015-09-29 05:59] naoty commented on #32
@Prince2k3 I set `8.0` to the deployment target!

[2015-09-29 05:59] #32 closed

[2015-09-30 14:27] naoty commented on #34
The methods were added.

[2015-09-30 14:27] #34 closed

[2015-09-30 14:32] naoty commented on #27
@remzr7 Thank you for reporting. Do you think that `[weak self]` should be used instead of `[unowned self]`? If so, would you tell me the reason?

[2015-10-05 12:31] Jamonek commented on #36
Hi Greg,

You’ve been invited by Jamone to join the Dropbox Campus Cup! Campus Cup lets you team up with your classmates to earn up to 25 GB of free Dropbox space for two years!

To earn space, just invite friends and use Dropbox to share, collaborate, and get work done.

Join Campus Cup![2]

Note that you must be a student currently enrolled at a higher education institution in order to participa

[2015-10-11 13:33] crarau opened #42 "Swift 2.0, cocoapods 0.39.0 pod issue"
Using swift 2.0 with Cocoapods 0.39.0 I'm getting the issue below:

Pre-downloading: `Timepiece` from `https://github.com/naoty/Timepiece.git`, branch `swift-2`
fatal: No names found, cannot describe anything.
[!] Unable to satisfy the following requirements:
- `Timepiece (from `https://github.com/naoty/Timepiece.git`, branch `swift-2`)` required by `Podfile`

Thx

[2015-10-12 14:10] naoty commented on #42
@crarau Sorry for confusion. The support for swift 2.0 has been already merged  into `master`. So, You should use `master`. Just now, I deleted `swift-2` branch.

[2015-10-12 14:16] crarau commented on #42
Yes, using master fixes the issue!
Thanks!

[2015-10-12 14:17] #27 closed

[2015-10-14 06:29] retroneo commented on #42
I cannot use Master either now.
Pre-downloading: `Timepiece` from `https://github.com/naoty/Timepiece.git`
fatal: No names found, cannot describe anything.
[!] Unable to satisfy the following requirements:
- `Timepiece (from `https://github.com/naoty/Timepiece.git`)` required by `Podfile`

[2015-10-14 06:33] retroneo opened #43 "please reopen issue 42"
reopen issue 42, appended new notes to issue

 https://github.com/naoty/Timepiece/issues/42

[2015-10-14 08:43] naoty commented on #42
Just now, I successfully installed Timepiece by following Podfile. I use cocoapod 0.39.0 and ruby 2.2.2.

[code]

@retroneo, would you let me know about your environment such as versions and Podfile?

[2015-10-14 08:47] naoty commented on #43
reopened.

[2015-10-14 08:47] #43 closed

[2015-10-14 14:24] retroneo commented on #42
use_frameworks!
platform :ios, '9.1'
platform :watchos, '2.0'
pod 'Timepiece', :git => 'https://github.com/naoty/Timepiece.git'

[2015-10-16 14:03] naoty commented on #42
@retroneo Fixed. Would you try to install?

[2015-10-17 06:50] retroneo commented on #42
Excellent. Now working. Thanks.

[2015-10-17 07:45] #42 closed

[2015-10-20 14:30] goktugyil opened #45 "Question: How to import this?"
What is the best way to import this library after installing with pods?

Do you use import Timepiece in every swift file that needs to use this? Is there a way to globally import it for everything?

Thanks

[2015-10-21 02:49] naoty commented on #45
I have never use Timepiece in any iOS projects. But, if I use it, I will import it in every files. It looks like Java.

[2015-10-21 09:36] goktugyil commented on #45
Are you using on tvOS? Doesn't it work in Xcode in either way?

[2015-10-21 09:39] naoty commented on #45
I'm not using on any devices. Have you try `tvOS` branch?

[2015-10-22 09:12] goktugyil commented on #45
No, I only tried it in an iOS project from the main branch. Actually my question is not specific to this library only, my question is kind of general on how to import libraries that are like this one.

[2015-11-01 00:56] naoty commented on #45
If your question is not specific to this library, please ask it somewhere else.

[2015-11-01 00:56] #45 closed

[2015-11-20 23:39] Jirka1111 opened #47 "How can I check format of string"
Is there a simple way how can I check a format of string variable?

Example:

if(stringVariable.format == format("dd/MM/yyyy"){
    print("format of stringVariable is the same as date!")
}

[2015-11-21 12:18] naoty commented on #47
@Jirka1111 I don't know it. Do you ask the question about Timepiece or Swift?

[2015-11-22 21:44] Jirka1111 commented on #47
I am sorry, the question belongs to another library.

[2015-11-22 21:44] #47 closed

[2016-01-13 11:12] innoreq opened #50 "Carthage: Problems during Build for iOS"
I'm using Carthage to get Timepiece included into my project. However, there is a problem during build:

[code]

Any idea how to fix that? I just perform `carthage update` and proceeded according to the Carthage instructions.

[2016-01-28 15:22] 861645007 opened #51 "can't change the begin time of day"
你好：我在尝试设置今天的开始时间（就是0点0分），但是获取的结果不正确。代码如下
![1ea4142f-6161-410b-bf68-9cdee780dcb4](https://cloud.githubusercontent.com/assets/7790051/12648660/febfb172-c615-11e5-9337-a43498530f04.png)
![bebb3a14-359b-4bee-89b5-8e0d6040117e](https://cloud.githubusercontent.com/assets/7790051/12648661/ff1e5876-c615-11e5-9bb5-22e9ac827fc0.png)

[2016-01-28 15:24] 861645007 commented on #51
我怀疑是不是时区的问题呢？但是我不知道怎么改，还请麻烦您看下。

[2016-01-29 02:15] naoty commented on #51
I don't understand Chinese. Would you tell me your issue in English?

[2016-01-29 03:48] 861645007 commented on #51
Sorry: my English is not good.
 I am trying to set the start time of today (for example： 2016-01-29 00:00:00), but the result is not right. Code as follows:
![1ea4142f-6161-410b-bf68-9cdee780dcb4](https://cloud.githubusercontent.com/assets/7790051/12666694/2782c438-c67e-11e5-8192-275305e434d5.png)
![bebb3a14-359b-4bee-89b5-8e0d6040117e](https://cloud.githubusercontent.com/assets/7790051/12666695/2

[2016-01-30 04:52] 861645007 commented on #51
I suspect that this problem is related to the time zone? But I do not know how to change, but also please trouble you.

[2016-01-30 15:01] 861645007 commented on #51
Hi,sir:
I'm so sorry to bother you, but I really don't know how to solve this problem. Please, help me.

[2016-01-31 15:04] naoty commented on #51
There is something wrong... I'll try to investigate this problem! Thank you for reporting.

[2016-01-31 15:06] 861645007 commented on #51
Thank you for your efforts, look forward to your results, thank you

[2016-02-13 01:42] skofgar opened #52 "Value of type 'Int' has no member 'weeks', 'seconds', …"
Hi I have the weird error, that whenever I add `'Timepiece'`, I get the error, that the type 'Int' does not have a member for week, seconds etc. However, I can see the Pod files in the workspace in the Pods-project. (Especially the `Int+Timepiece.swift`-file is there.) All my other Pods work...

Do you have an idea what it could be?

My Podfile looks like this.. not really spectacular.
[code]

[2016-02-13 11:41] naoty commented on #52
@skofgar Thank you for reporting. I tried it just now. But, I successfully built codes such as `1.day.ago`. I wonder why you got that error.

[2016-02-13 12:03] naoty commented on #51
@861645007 Sorry for late reply! I found that the result of `print(date)` looks strange, but actually `todayEnd.hour` returns `0`. Screenshots are here.

![2016-02-13 20 55 34](https://cloud.githubusercontent.com/assets/413899/13027450/3d1cf4d6-d294-11e5-8dc6-ed204ddfca10.png)
![2016-02-13 20 55 41](https://cloud.githubusercontent.com/assets/413899/13027453/3fa66282-d294-11e5-8b52-ad6eeb55bfbb.png

[2016-02-13 12:26] naoty commented on #51
It seems that the override of `description`, which is defined at `CustomStringConvertible`, is not allowed. I don't know how to solve this problem...

[2016-02-13 16:38] skofgar commented on #52
Hmm. Ok. I'll tried it in a new project too.. I'll try again and get back to you asap.

[2016-02-14 03:53] 861645007 commented on #51
I think that the problem is UTC and GMT。we can get UTC of time from `NSDate()`, but current time which we print is GMT, It is a difference of 8 hours（when i use beijing time）

![aa2e84e1-6cae-42ae-93a1-f65490a52e21](https://cloud.githubusercontent.com/assets/7790051/13031738/92f2726e-d311-11e5-8c71-886955714f45.png)

[2016-02-14 03:54] 861645007 commented on #51
I don't know if my guess is right, please look at it.

[2016-02-14 12:45] naoty commented on #51
Yes, your guess is right. The result of `print` ignores the timezone because the implementation of `CustomStringConvertible` for extended `NSDate` doesn't consider the timezone. If possible, I want to override `describe` property to consider the timezone. But, it seems that the override is not allowed...

[2016-02-14 23:44] skofgar commented on #52
@naoty I discovered the problem.
So silly... - I forgot to add `import Timepiece`.

[2016-02-14 23:44] #52 closed

[2016-02-16 04:49] 861645007 commented on #51
hi:
 I think you can use this method to change the time. Although this is not a good way, it can be a temporary solution to this problem. i hope you can find a better method.

`func tolocalTime() -> NSDate {
        let tz = NSTimeZone.localTimeZone()
        let seconds: NSInteger = tz.secondsFromGMTForDate(self)
        return NSDate(timeInterval: Double(seconds), sinceDate: self)
    }`

[2016-02-16 04:50] 861645007 commented on #51
[code]

[2016-02-16 06:25] naoty commented on #51
@861645007 If you want to change the timezone, you should use `-change(timeZone:)` at [here](https://github.com/naoty/Timepiece/blob/master/Sources/NSDate+Timepiece.swift#L141).

BTW, would you change the title of this issue in English?

[2016-02-16 07:32] 861645007 commented on #51
` -change(timeZone:)` this method can't play  a part in this problem

[2016-02-16 09:17] naoty commented on #51
@861645007 Could you send a pull request includes tests regenerating your problem and codes solving them?

[2016-03-06 14:52] basememara commented on #50
I believe this is a Carthage thing. Depending on how you are adding your dependencies, Xcode will automatically add them to the "Framework Search Paths" under the "Build Settings" tab. You can remove these from the target because Xcode treats them as implicit dependencies due to them being in the same workspace if this is how you set it up. Select the target, locate the "Framework Search Paths" se

[2016-03-16 18:05] basememara opened #53 "How to subtract 2 dates and get minutes?"
Great library, thanks a mil!! Works beautifully for watch complications ;)

I'm trying to subtract 2 dates and get minutes. I couldn't find how to do this. What I was hoping for was something like this:

[code]
This doesn't compile for `Timepiece` of course, so what I'm ending up doing is this:
[code]
Is something like this possible with `Timepiece`?

[2016-03-17 00:22] naoty commented on #53
@basememara Thank you for using this library! `date1 - date2` returns `NSTimeInterval`. So, you can get `second`, `minute`, `hour`, `day`, but cannot get `month` and `year` correctly because the days of one month is not constant.

[2016-03-22 11:38] basememara commented on #53
How about something like this?
[code]

[2016-03-23 04:14] naoty commented on #53
@basememara It looks good! These operators also can be used but they are deprecated because they are incorrect as I said.

[code]

[2016-04-04 03:56] pketh opened #54 ""No such module 'Timepiece'""
Hi, I'm pretty new to Swift/pods. I added timepiece to my pod file, installed it and can verify it's added to my app. But attempting to `import Timepiece` at the top of my appDelegate with the rest of my other imports gives me an error `"No such module 'Timepiece'"`

Any idea what I'm missing here?

Thanks!

[2016-04-04 04:00] pketh commented on #54
Hmm, I also get the same error when I run the included `timepiece.playground`. I'm on XCode 7.3

[2016-04-04 08:10] naoty commented on #54
@pketh Thank you for using my library. Do you open *.xcworkspace, not *.xcodeproj? Is your problem specific to Timepiece?

[2016-04-04 08:11] naoty commented on #53
@basememara I'll close this issue but if you are still in trouble, I'll reopen.

[2016-04-04 08:11] #53 closed

[2016-04-04 08:12] naoty commented on #50
@innoreq Did you solve this issue? I'll close this issue, but if you are still in trouble, I'll reopen it.

[2016-04-04 08:12] #50 closed

[2016-04-04 09:11] innoreq commented on #50
I’m using Timepiece via Cocoapods now, this is working fine now (after struggling with Cocoapods in general for some time…).

Thanks for your engagement!

[2016-04-04 11:31] ThomasSempf-Stendahls opened #55 "Support for different locales when converting String to NSDate"
Currently the NSDateFormatter is initialized with the locale from the current device. Often responses from web servers contain date strings in english locale. Therefore it would be great to have the option to give a  locale parameter to the dateFromFormat function.

[2016-04-04 13:21] pketh commented on #54
Thanks for the quick reply :)
Yeah I'm using xcworkspace and other pods do import. If it helps, I'm making a Mac app. But didn't do anything Mac specific in the playground file

[2016-04-05 00:25] naoty commented on #54
@pketh I created a sample OSX application using Timepiece, and successfully built the app. The repository is [here](https://github.com/naoty/SampleOSXApp). What is the difference with yours?

[2016-04-05 00:30] pketh commented on #54
If I download your sample application directly and open it in xcode, going to the appDelegate shows the same error. Comparing our appDelegate files, they look like they have pretty much the same init. My project is https://github.com/pketh/weather-cat .

That being said, I've since found a workaround, so if I'm the only person who's had this issue I wouldn't bother trying too hard to track it down

[2016-04-05 00:45] pketh commented on #54
Looks like this was the issue http://stackoverflow.com/questions/29500227/xcode-no-such-module-error-but-the-framework-is-there , just had to flip this guy to `Yes`..

![screen shot 2016-04-04 at 8 45 17 pm](https://cloud.githubusercontent.com/assets/877072/14268191/362e343e-faa6-11e5-96fb-2024f52e6388.png)

[2016-04-05 00:45] #54 closed

[2016-04-05 00:52] naoty commented on #54
It's a pleasure for you to solve the problem!

[2016-04-05 02:49] naoty commented on #55
@ThomasSempf-Stendahls Thank you for nice suggestion! I'll try to implement that option!

[2016-09-10 18:18] hdoria opened #60 "Swift 3.0"
Any plans to support Swift 3.0?

[2016-09-15 22:01] reidmain commented on #60
@naoty are you able to comment on this? I know there are a lot of developers looking for Swift 3 support for all their dependencies now that Xcode 8 GM has been released.

[2016-09-18 04:32] hijamoya commented on #60
need swift 3.0 support!!

[2016-09-20 23:48] skofgar commented on #60
@hijamoya, @hdoria: Until @naoty addressed the issue feel free to use my branch, for which I created a [merge request](https://github.com/naoty/Timepiece/pull/59).

[2016-09-21 00:26] reidmain commented on #60
@skofgar I have been and it has been working great.

[2016-10-06 08:50] RyogaK opened #62 "0.6.0 is not compatible with 0.5.0"
0.6.0 can run in Swift3 only, so it's not compatible with 0.5.0.
If you would like to follow semantic versioning as Carthage suggested, you can change the version to 1.0.0.
If you don't, we can't use `~>` operator of Cartfile.

You can see about the versioning in the document https://github.com/Carthage/Carthage if you would like to know more.

Thanks.

[2016-10-06 18:44] hdoria opened #63 "Invalid Bundle Structure - The binary file 'Timepiece.framework/libswiftRemoteMirror.dylib' is not permitted"
I'm using Timeline with Carthage. Now, when I try to upload my app to iTunes I get the following error:

Invalid Bundle Structure - The binary file 'MyApp.app/Frameworks/Timepiece.framework/libswiftRemoteMirror.dylib' is not permitted. Your app can’t contain standalone executables or libraries, other than the CFBundleExecutable of supported bundles. Refer to the Bundle Programming Guide at https:/

[2016-10-07 02:25] naoty commented on #62
I have not released stable versions yet. So, as http://semver.org/spec/v2.0.0.html#spec-item-4 said, I don't assure backward compatibility.

[2016-10-07 02:25] #62 closed

[2016-10-07 02:26] #60 closed

[2016-10-28 12:27] beartiago commented on #63
same here...

[2016-11-03 17:20] reidmain commented on #63
This appears to be caused by the "Aways Embed Swift Standard Libraries" being set in the project.
![embed frameworks](https://cloud.githubusercontent.com/assets/535202/19976942/013863de-a1af-11e6-85b8-6b1a6f136c61.png)

It doesn't make sense for a Framework target to embed the Swift standard libraries. It is the responsibility of the App target to do that and they ensure that all of the Frameworks

[2016-11-04 01:38] basememara opened #65 "Optionals instead of forced unwrap for ago/later?"
Thanks for a great library and updating the code base. It much slimmer and leveraging more native API's 👍

I noticed in the updates there are a lot of optionals now, which are a bit inconvenient although I understand why. Any ideas on safely getting around this and not have `Timepiece` return optionals for at least `ago/later` calculations?

For example, `46.days.later` return a `Date?` object bec

[2016-11-04 11:44] naoty commented on #65
Thank you for the issue 😄 .

I feel that it is a bit inconvenient too. I don't understand when the return value of `date(byAdding:to:)` is `nil`. But, this library shouldn't force unwrapping because this library doesn't know any given input. Instead, an user who knows input should force unwrapping.

What do you think?

[2016-11-04 12:05] basememara commented on #65
I share your concern and position. It would be helpful to know what kind of input would cause a nil to make a better decision about this, and how to recover from it so we can guard it. I hope someone can chime in, and will try to look around in the meantime as well. Thanks for the input!

[2016-11-04 12:27] naoty commented on #65
@basememara I will try to read the implementation from [here](https://github.com/apple/swift-corelibs-foundation/blob/master/Foundation/Calendar.swift#L465). If I know when the return value of `date(byAdding:to:)` is `nil` and ensure that this `ago`/`later` always doesn't return `nil`, I will remove the optionals.

[2016-11-04 12:27] #65 closed

[2016-11-04 17:59] Evertt opened #69 "Add syntactic sugar for times"
You know what I'd find cool? To be able to write this:

[code]

And have the correct DateComponents.

[2016-11-05 10:10] basememara commented on #63
Serious issue, cannot submit app to the App Store. Please merge PR.

[2016-11-05 12:36] naoty commented on #63
@basememara Thank you for sending the PR!

I'm sorry... I merged the PR and released `1.0.1` just now.

[2016-11-05 12:36] #63 closed

[2016-11-05 12:37] #31 closed

[2016-11-05 12:37] #51 closed

[2016-11-05 12:37] #55 closed

[2016-11-05 12:40] naoty commented on #69
@Evertt Thank you for a cool suggestion! I think `9.45.AM` represents a `Date` instance rather than a `DateComponents` instance. What do you think?

[2016-11-05 12:51] Evertt commented on #69
I 100% disagree. When I write `let time = 9.45.AM`, I have not defined on which day, because I'm not talking about any specific day, I'm just talking about a specific time.

To give you a use case example. I might want to write a task schedular which performs a certain task every day at a certain time:

[code]

Now if `9.45.AM` produced a Date then that would be very confusing for that function, d

[2016-11-05 12:59] Evertt opened #72 "syntactic sugar for week days"
With something like this:

[code]

you can write things like:

[code]

[2016-11-05 13:53] naoty commented on #69
I see. `9.45.AM` means `DateComponents(hour: 9, minute: 45)`, isn't it?

[2016-11-05 14:11] naoty commented on #72
What date does `.next(.wednesday)` return?

[2016-11-05 14:42] Evertt commented on #72
A date, as you can see in my example code. More specifically, it would return next wednesday at 12:00 AM, just like `.tomorrow` returns 12:00 AM tomorrow.

[2016-11-05 14:59] Evertt commented on #69
exactly

[2016-11-05 20:39] basememara commented on #63
Np, thx for taking the time to consider and the great lib 💯

[2016-11-06 06:19] #69 closed

[2016-11-06 06:36] naoty commented on #72
I see. I think the usecase where you want to get the next/last Wednesday is a bit rare. So, if there are many requests for this feature, I will consider this feature.

[2016-11-06 06:36] #72 closed

[2016-11-13 02:46] singno opened #73 "Missing interval ?"
`1.hour.interval` now is missing.

[2016-11-14 00:54] naoty commented on #73
`interval` was removed because `DateComponents` cannot be converted into `TimeInterval`correctly. For example, `1.month` may be 28, 29, 30 or 31 days.

[2016-11-16 04:39] naoty commented on #73
I will close this issue for now.

[2016-11-16 04:39] #73 closed

[2016-11-28 14:31] allaire opened #75 "inFormat is returning wrong weekday"
I just debugged an issue I have with `.date(inFormat:)`, it returns the wrong `weekday`.

I pin pointed the issue to this line:

https://github.com/naoty/Timepiece/blob/master/Sources/String%2BTimepiece.swift#L21

If you remove it, it works as expected (I think it uses the current calendar by default, maybe this line overwrites it).

[2016-11-29 01:46] naoty commented on #75
@allaire Thank you for reporting! I'll debug this soon. Do you use a calendar different from `Calendar.current`?

[2016-11-29 03:21] allaire commented on #75
No I don't :) Calendar.current is gregorian.

--
Mathieu Allaire

On November 28, 2016 at 20:46:25, Naoto Kaneko (notifications@github.com)
wrote:

@allaire <https://github.com/allaire> Thank you for reporting! I'll debug
this soon. Do you use a calendar different from Calendar.current?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://g

[2016-12-08 14:31] kwstasna opened #76 "Weekend"
Hello.
Very nice lib. it rocks man!
Just wandering if there is any quick workaround to take the dates of the next weekend (saturday-sunday)
like `Date.today()`

[2016-12-09 02:24] naoty commented on #76
@kwstasna Thanks! Now, there isn't such a feature.

[2016-12-09 03:42] naoty commented on #76
@kwstasna I added methods to realize your request at https://github.com/naoty/Timepiece/pull/77.

[code]

[2016-12-09 06:11] naoty commented on #75
@allaire Though I tried to regenerate this bug with tests, I could not do it. It looks that there are no problems. [This line](https://github.com/naoty/Timepiece/blob/master/Sources/String+Timepiece.swift#L21) is described [here](https://developer.apple.com/reference/foundation/dateformatter).

Would you send a pull request to regenerate bugs?

[2016-12-09 10:57] kwstasna commented on #76
This is a very good approach but i meant another thing.

Lets say that today is Thursday 8-12-2016...
and i want to get the dates of this weekend that comes up, which means 10 and 11 - 12 - 2016.

[2016-12-09 13:36] naoty commented on #76
This new method returns the dates of this weekend.

<img width="1008" alt="2016-12-09 22 34 04" src="https://cloud.githubusercontent.com/assets/413899/21050723/bd4c7b9c-be5f-11e6-97b5-96cce990b855.png">

[2016-12-09 14:08] allaire commented on #75
@naoty maybe it was caused because the date returned was not in UTC 0 format, and since your method specificaly put it in UTC+0, it was changed the day of what I was expecting.

Maybe the timezone should be optional?

[2016-12-11 12:29] naoty commented on #75
@allaire If you don't offer codes to regenerate this bug, I can't continue to debug.

[2016-12-14 17:06] kremizask opened #78 "How to modify a date."
First of all thank you for your library. It's been super helpful!

I am upgrading my code to Swift 3 and updated Timepiece from v0.4.3 to the current version and I can't seem to find an method on Date equivalent to  `change(year:, month:, day:)` that was available for NSDate instances.

Is there a recommended way to do this now?

[2016-12-15 04:34] naoty commented on #78
@kremizask Thanks! I implemented similar methods on `changed-date` branch for https://github.com/naoty/Timepiece/pull/77, which will be merged soon. Would you use this branch until the new version is released?

[2016-12-16 17:03] kremizask commented on #78
That's great! I will!

I assume some other things that are missing like change timezone or beginningOfDay will be added as well? Or are there any apis that  you are going to ditch and I should write my own versions of?

[2016-12-17 11:26] naoty commented on #78
@kremizask Now, I'm not going to add those features. Especially timezone feature will be not implemented because it is difficult to implement without bringing any bugs.

[2016-12-20 05:25] #75 closed

[2016-12-20 10:03] shiqianren opened #80 "How to modify the time zone"
How to modify the time zone，Get today's time is wrong（ NSDate.today()）

[2016-12-20 10:17] naoty commented on #80
There is not such a feature. If the return value of `Date.today()` have wrong time zone, you should use a calendar different from `Calendar.current`, because Timepiece uses `Calendar.current`.

[2016-12-20 14:15] Tripwire999 opened #81 "changing timezone"
Hi,

I noticed that in the newer versions the change method is removed. Normally to change the timezone i would do something like this:
[code]

How can I do this with the latest Timepiece?

[2016-12-21 02:12] shiqianren commented on #80
sorry  i can't understand  ( use a calendar different from Calendar.current instead of this library) ? ? ?

[2016-12-21 02:35] naoty commented on #81
@Tripwire999 Sorry. I removed a feature to change time zone because it was a little buggy. Also, it was not compatible with Linux because it was implemented using Objective-C runtime APIs.

[2016-12-21 02:44] naoty commented on #80
If you use a calendar different from `Calendar.current` such as `Calendar(identifier: .chinese)` or `Calendar(identifier: .buddhist)`, the return value of `Date.today()` may be wrong, because Timepiece always uses `Calendar.current` to calculate dates.

So, if you want to modify time zone, you should use another library.

[2017-01-03 00:56] naoty commented on #81
@Tripwire999 I will close this issue. But, if your question is not solved yet, I will reopen this.

[2017-01-03 00:56] #81 closed

[2017-01-03 00:57] naoty commented on #80
@shiqianren I will close this issue. But, if your question is not solved yet, I will reopen this.

[2017-01-03 00:57] #80 closed

[2017-01-03 00:58] naoty commented on #78
@kremizask I will close this issue. But, if your question is not solved yet, I will reopen this.

[2017-01-03 00:58] #78 closed

[2017-01-03 00:59] naoty commented on #76
@kwstasna I will close this issue. But if your question is not solved yet, I will reopen this.

[2017-01-03 00:59] #76 closed

[2017-03-01 02:19] naoty opened #84 "Shortcut for timeIntervalSince(_:)"
[code]

[2017-03-07 19:50] Prince2k3 opened #85 "time ago support"
Be nice to have time ago support with this library. If there is one I didn't see where it was.

But being able to say `date.timeAgo` that outputs "4 minutes ago"  etc...

[2017-03-07 23:49] naoty commented on #85
Thank you for the issue!

The timeago feature requires localization such as "4分前" in Japanese. But, I don't want to support localization in Timepiece because I want to keep Timepiece a simple wrapper for Foundation.

If I implement the feature, I will build another library which just does it.

[2017-03-08 00:12] Prince2k3 commented on #85
You make a good point about localization. Time ago feature though very simple can be complex with localization.

[2017-03-28 00:19] naoty commented on #85
I will close this issue. But, if you still have any reason to implement this feature, feel free to post messages.

[2017-03-28 00:19] #85 closed

[2017-04-30 22:44] basememara commented on #84
Hi @naoty, thanks for the great library and recent update!

I like this enhancement and was going to create a PR, but it was kind of tricky due to months not being a straight forward conversion. It's a WIP but this is what I have so far:

[code]
Any thoughts or suggestions on what to do about months or this approach in general?

[2017-04-30 23:02] basememara commented on #84
Not my favorite API but we can do something like this also:
[code]

[2017-05-01 01:39] naoty commented on #84
@basememara Thanks!

As you said, the conversion between `DateComponents` and `TimeInterval` will be possible if we assume that 1 month always has 30 days and DST can be ignored.

I have obsoleted this conversion before at https://github.com/naoty/Timepiece/pull/30. So, I don't want to merge implementation on incorrect assumption.

Timepiece should use `Calendar` API for calendrical calculation. T

[2017-05-24 11:39] egenvall opened #86 "Wrong time retrieved"
* Deleted *

- I figured it out.

[2017-05-24 13:43] #86 closed

[2017-06-07 03:55] hemangshah opened #87 "How to find number of days in a particular year?"
Is there any simple way to this with this library?

[2017-06-07 06:01] naoty commented on #87
No, there isn't.

Using `Calendar`, you can get `TimeInterval` between two days, but cannot convert `TimeInterval` into number of days.

[2017-06-07 06:01] #87 closed

[2018-02-22 06:24] mattdock opened #91 "endOfDay handles date differently for iOS 10 as it does for iOS 11"
the 10.16.01 pm screenshot is the dates behing handled by iOS 11. The 10.14.54 pm screenshot is the dates being handles by iOS 10.

First, there is a row where the exact timestamps pulled from parse are printed, then a row showing what happens to the timestamps after .endOfDay is called and then I try to calculate the number of days between the two dates.

`        if let start = self.transaction.

[2018-03-20 03:30] satoshi-takano opened #92 "Change the default calendar"
I want to change the default calendar. Because if someone uses Japanese calendar,  `Date().year`  returns the year in Japanese but I don't expect the behavior.

I suggest the changes below.
[code]

What do you think? If you agree to my suggestion, I'll make a pull request.

[2018-03-20 04:47] naoty commented on #92
Thank you for suggestion! 😄

I disagree with `Date.defaultCalendar`. It is confusing because `Date` object is a just value and independent of the calendar setting in iOS.

Instead, below method will fill your need.

[code]

Currently, `changed()` calculates date components with `Calendar.current`, and so `on calendar: Calendar` argument will be useful for you.

[2018-03-20 06:25] satoshi-takano commented on #92
Thank you for quick response! 😀
I think your idea is good way to change the calendar. I'll try it.

[2018-03-20 11:30] naoty commented on #92
Sorry for less description. This method is not implemented yet. So, if you want it, please send a pull request!

[2018-03-23 07:56] #92 closed

[2018-03-23 08:03] satoshi-takano commented on #92
Thank you for description!
I decided to use `Calendar` directly to get year in Gregorian calendar.  Because I noticed that Timepiece’s conveniences is based on Extension and I can’t add calendar as a stored property(I don’t want use Associated Object).

[2018-03-30 23:51] bbookman opened #93 "Can you add more date math examples to readme?"
I'm dim.  I'm not 100% sure how to use this library to do something like  (I'm shortcutting the syntax)

let christmas = Date(year: today().year, month:12, day:25)
let daysUntilChristmas = christmas - today ?????  //give us some examples please

[2018-04-01 07:00] naoty commented on #93
There is also a Xcode playground to understand how to use this library.

[2018-04-01 14:57] bbookman commented on #93
Thanks, still documentation is the best option

[2018-10-23 13:13] taglia3 opened #94 "Swift 4.2"
Any update for Swift 4.2?

[2019-03-09 01:43] #94 closed

[2019-03-29 09:49] hell4opt opened #98 "swift 5"
Please!!!!!

[2019-04-29 13:02] #98 closed

[2019-10-11 10:04] luicm opened #101 "problems installing with CocoaPods"
Hello,
I've recently had to reinstall pods in my project and I am getting this error in CocoaPods:

`Timepiece-library` does not specify a Swift version and none of the targets (`Pods`) integrating
it have the `SWIFT_VERSION` attribute set.
Please contact the author or set the `SWIFT_VERSION` attribute in at least one
of the targets that integrate this pod.
Is it possible to fix? thank you very mu

[2019-11-15 13:10] andriandja opened #103 "Swift Package Manager support, please make this happen"

[2019-12-25 05:52] moliya opened #104 "A new release version?"
Can you update the release version for SPM?

[2020-11-13 12:32] Sergey231 opened #105 "SPM 1.3.1 version doesn't work"
https://github.com/naoty/Timepiece.git has no Package.swift manifest for version 1.3.1

[2020-11-13 12:33] Sergey231 commented on #105
Workaround: set the particular commit 459f96a0e41db762c96497e5c03bbc67673c07f4